.wp-block-table {
	td,
	th {
		padding: 0;
		border: $border-width solid currentColor;
	}

	td.is-selected,
	th.is-selected {
		border-color: $blue-medium-500;
		box-shadow: inset 0 0 0 1px $blue-medium-500;
		border-style: double;
	}

	&__cell-content {
		padding: 0.5em;
	}
}

.block-library-table__dimensions__row {
	display: flex;
}

.block-library-table__dimensions__width {
	flex: 1;
	// Use padding since it's hard to override the margin of the base control.
	padding-right: 5px;
}

