.wp-block-half-media,
.wp-block-half-media.aligncenter {
	display: grid;
}

.wp-block-half-media {
	grid-template-rows: auto;
	grid-template-areas: "half-media-media half-media-content";
	align-items: center;
	column-gap: 25px;
	grid-template-columns: 50% auto;
	.has-media-on-the-right {
		grid-template-columns: auto 50%;
	}
}

.wp-block-half-media .wp-block-half-media__media {
	grid-area: half-media-media;
}

.wp-block-half-media .wp-block-half-media__content {
	word-break: break-word;
	grid-area: half-media-content;
}
.wp-block-half-media.has-media-on-the-right {
	grid-template-areas: "half-media-content half-media-media";
}

.wp-block-half-media > figure > img,
.wp-block-half-media > figure > video {
	max-width: unset;
	width: 100%;
}
