// The scrim behind the modal window.
.components-modal__screen-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($white, 0.4);
	z-index: z-index(".components-modal__screen-overlay");
}

// The modal window element.
.components-modal__frame {
	// In small screens the content needs to be full width.
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	margin: 0;
	border: $border-width solid $light-gray-500;
	background-color: $white;
	box-shadow: $shadow-modal;
	outline: none;
	overflow: auto;

	// Show a bigger modal on bigger screens.
	@include break-small() {
		top: 50%;
		right: auto;
		bottom: auto;
		left: 50%;
		max-width: calc(100% - #{ $grid-size-large } - #{ $grid-size-large });
		max-height: calc(100% - #{ $grid-size-large } - #{ $grid-size-large });
		transform: translate(-50%, -50%);
	}
}

.components-modal__header {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	height: $header-height;
	position: sticky;
	top: 0;
	z-index: z-index(".components-modal__header");
	border-bottom: $border-width solid $light-gray-500;
	padding: $grid-size $grid-size $grid-size $grid-size-large;
	background-color: $white;
}

.components-modal__header-heading-container {
	align-items: center;
	flex-grow: 1;
	display: flex;
}

.components-modal__header-heading {
	font-size: 1em;
	font-weight: normal;
}

.components-modal__header-icon-container {
	display: inline-block;

	svg {
		max-width: $icon-button-size;
		max-height: $icon-button-size;
		padding: $grid-size;
	}
}

.components-modal__content {
	// The height of the content is the height of its parent, minus the header. after that, the offset was 3px.
	height: 100%;
	overflow: auto;
	padding: $panel-padding;
	padding: $grid-size-large;
}
